@import "../../node_modules/govuk-frontend/dist/govuk/base";

@import "_masthead";
@import "_card";
@import "_pages";
@import "_chevron-card";
@import "_vertical-nav";
@import "_feedback";
@import "accessible-autocomplete.min.css";

@import url("https://rsms.me/inter/inter.css");
$govuk-font-family: "Inter", "Helvetica Neue", Arial, sans-serif;

.tableNumbers {
  font-feature-settings: "tnum" 1, "ss01" 1, "zero" 1;
}

* {
  font-family: $govuk-font-family !important;
}

.govuk-header__link .govuk-header__logotype {
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype {
  content: url(/images/department-for-education_black.png);
  height: 30px;
}

// Fix MOJ filter tag icon paths
.moj-filter__tag::after {
  background-image: url(/images/icon-tag-remove-cross.svg) !important;
}

.moj-filter__tag:hover::after {
  background-image: url(/images/icon-tag-remove-cross-white.svg) !important;
}



.moj-primary-navigation {
  background-color: #0b0c0c;
  
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  &__item {
    margin-right: 1rem;
  }
  
  &__link {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    
    &:hover {
      background-color: #1d70b8;
    }
  }
}

// Hierarchical autocomplete styles
.autocomplete-suggestion {
  padding: 8px 12px;
}

.autocomplete-child-name {
  font-weight: 600;
  color: #0b0c0c;
  margin-bottom: 2px;
}

.autocomplete-parent-name {
  font-size: 14px;
  color: #626a6e;
}



.autocomplete-suggestion {
    padding: 8px 12px;
    background-color: transparent;
}

.autocomplete__option:hover,
.autocomplete__option:focus,
.autocomplete__option--focused {
    background-color: #ffdd00 !important;
    color: #0b0c0c !important;
}

.autocomplete-suggestion--add-all {
    background-color: transparent;
    color: #0b0c0c;
    font-weight: normal;
    font-size: 16px;
}

.autocomplete-suggestion__label {
    font-weight: normal;
    font-size: 16px;
    color: #0b0c0c;
}

.autocomplete-suggestion__meta {
    font-size: 14px;
    color: #505a5f;
    margin-top: 2px;
}

.autocomplete__menu {
    border: 2px solid #0b0c0c;
    border-top: 0;
    display: none; /* Hidden by default */
}

.autocomplete__menu--visible {
    display: block; /* Show when has results */
}

.autocomplete__option:hover,
.autocomplete__option--focused {
    background-color: #ffdd00;
}

.autocomplete__option--odd {
    background-color: #ffffff;
}

/* DfE ROS Search Styles */
.dfe-ros-search-item-wrapper {
    margin-bottom: 20px;
}

.dfe-ros-search-label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #0b0c0c;
}

.dfe-ros-search-input-wrapper {
    display: flex;
    align-items: stretch;
}

.dfe-ros-search-input-outer {
    flex: 1;
    position: relative;
}

.dfe-ros-search-input {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 2px solid #0b0c0c;
    border-right: none;
    font-size: 16px;
    line-height: 1.25;
    background-color: #ffffff;
    box-sizing: border-box;
}

.dfe-ros-search-input:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px #0b0c0c;
}

.dfe-ros-search-submit {
    width: 40px;
    height: 40px;
    border: 2px solid #0b0c0c;
    border-left: none;
    background-color: #0b0c0c;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.dfe-ros-search-submit:hover {
    background-color: #363636;
}

.dfe-ros-search-submit:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
}

.dfe-ros-search-icon {
    width: 18px;
    height: 18px;
}

/* MOJ Design System Filter Component */
.filter-section {
    margin-bottom: 0;
}

.filter-toggle-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 19px;
    font-weight: 400;
    color: #0b0c0c;
    text-align: left;
    cursor: pointer;
    position: relative;
    margin: 0;
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #b1b4b6;
    padding-bottom: 15px;
}

.filter-toggle-button:hover {
    color: #1d70b8;
    background: none;
}

.filter-toggle-button:focus {
    outline: 3px solid #fd0;
    outline-offset: 2px;
    background: none;
}

.filter-toggle-button:active {
    background: none;
}

.filter-toggle-icon {
    font-size: 16px;
    color: #0b0c0c;
    transition: transform 0.2s ease;
    margin-left: 8px;
    font-weight: normal;
}

// .filter-toggle-button[aria-expanded="true"] .filter-toggle-icon {
//     transform: rotate(180deg);
// }

.filter-toggle-button[aria-expanded="true"] {
    border-bottom: none;
}

/* MOJ-style form groups */
.moj-filter-group {
    margin-bottom: 20px;
}

.moj-filter-group .govuk-fieldset__legend {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}



.pre-wrap-text{
    white-space: pre-wrap;
}

.moj-filter-group {
    border-bottom: 1px solid #b1b4b6;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.app-sub-navigation {
    margin-bottom: 0
}

.app-sub-navigation__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0
}

@media (min-width: 23.4375em) {
    .app-sub-navigation__list {
        width:100%
    }
}

.app-sub-navigation__item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-shadow: inset 0 -1px 0 #b1b4b6;
    display: block;
    margin-top: -1px
}

@media print {
    .app-sub-navigation__item {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .app-sub-navigation__item {
        font-size:19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .app-sub-navigation__item {
        font-size: 14pt;
        line-height: 1.15
    }
}

.app-sub-navigation__item:last-child {
    box-shadow: none
}

@media (min-width: 23.4375em) {
    .app-sub-navigation__item {
        box-shadow:none;
        display: inline-block;
        margin-right: 20px;
        margin-top: 0
    }
}

.app-sub-navigation__link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    display: block;
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 15px;
    text-decoration: none;
    position: relative;
    font-weight: 700
}

@media print {
    .app-sub-navigation__link {
        font-family: sans-serif
    }
}

.app-sub-navigation__link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.app-sub-navigation__link:link {
    color: #1d70b8
}

.app-sub-navigation__link:visited {
    color: #4c2c92
}

.app-sub-navigation__link:hover {
    color: #003078
}

.app-sub-navigation__link:active {
    color: #0b0c0c
}

.app-sub-navigation__link:focus {
    color: #0b0c0c
}

@media (min-width: 23.4375em) {
    .app-sub-navigation__link {
        padding-left:0
    }
}

.app-sub-navigation__link:link,.app-sub-navigation__link:visited {
    color: #1d70b8
}

.app-sub-navigation__link:hover {
    color: #0b0c0c
}

.app-sub-navigation__link:focus {
    color: #0b0c0c;
    position: relative;
    box-shadow: none
}

.app-sub-navigation__link:focus:before {
    background-color: #0b0c0c;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px
}

.app-sub-navigation__link[aria-current=page] {
    color: #0b0c0c;
    position: relative;
    text-decoration: none
}

.app-sub-navigation__link[aria-current=page]:before {
    background-color: #1d70b8;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px
}

@media (min-width: 23.4375em) {
    .app-sub-navigation__link[aria-current=page]:before {
        height:5px;
        width: 100%
    }
}

.app-sub-navigation__link[aria-current=page]:focus:before {
    background-color: #0b0c0c
}

.app-sub-navigation .dfe-list>li,.app-sub-navigation ol>li,.app-sub-navigation ul>li {
    margin-bottom: 0
}


.govuk-phase-banner{
    background-color: #f4f8fb !important;
}

.govuk-phase-banner--homepage{
    background-color: #1d70b8 !important;
}

.full-width-nav{
    width: 100%;
}

.callout a{
    color: #0b0c0c;
}