@{
    ViewData["Title"] = "Error";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Error</h1>
        <h2 class="govuk-heading-l">An error occurred while processing your request.</h2>
        
        @if (Model?.ShowRequestId == true)
        {
            <p class="govuk-body">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>
