@{
    ViewData["Title"] = "Page not found";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        
        <p class="govuk-body">
            If you typed the web address, check it is correct.
        </p>
        
        <p class="govuk-body">
            If you pasted the web address, check you copied the entire address.
        </p>
        
        <p class="govuk-body">
            If the web address is correct or you selected a link or button, 
            <a href="/contact" class="govuk-link">contact us</a> if you need to speak to someone about your enquiry.
        </p>
        
        <h2 class="govuk-heading-m">What you can do next</h2>
        
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/" class="govuk-link">Go to the homepage</a></li>
            <li><a href="/products" class="govuk-link">Browse products</a></li>
            <li><a href="/categories" class="govuk-link">Browse categories</a></li>
            <li><a href="/help" class="govuk-link">Get help</a></li>
        </ul>
        
       
    </div>
</div>
